button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	color: $color__border-button; //rgba(0, 0, 0, .8);
	border-color: $color__border-button;
	background: $color__background-button;
	border-radius: 3px;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		color: $color__border-text-hover;
		background-color: $color__border-button;
		border-color: $color__border-button;
	}

	&:active,
	&:focus {
		outline: none;
	}
}
