/**

Styles replication for the (gutenberg/block) editor.

*/

/* Styles for Tablet (devices with a width of 920px or less) */
/* TODO: use wp global style: @media only screen and (max-width: calc(var(--wp--style--global--content-size))) { */
@media only screen and (max-width: 920px) {
    
    main.wp-block-group > *:not(.alignfull):not(.alignleft):not(.alignright),
    main.wp-block-group > .wp-block-post-content > *:not(.alignfull):not(.alignleft):not(.alignright) {
        margin-left: var(--wp--preset--spacing--40) !important;
        margin-right: var(--wp--preset--spacing--40) !important;
    }
}

/* Styles for Mobile (devices with a width of 767px or less) */
@media (max-width: 767px) {
    .is-hidden-mobile {
        display: none !important;
    }
}