.main-navigation {

  .menu-toggle {

    &:before {
      content: '\f0c9';
      font-family: 'fontawesome'
    }
  }

  &.toggled {

    .menu-toggle {

      &:before {
        content: '\f00d';
      }
    }
  }
}
