$color__var_primary: #75ABF3;
$color__var_primary_alt: darken( $color__var_primary, 20% );
$color__var_secondary: grey;
$color__var_secondary_alt: black;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent; //#e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: inherit;
$color__link-visited: inherit;
$color__link-hover: $color__var_primary;
$color__text-main: #404040;

$color__border-button: $color__var_primary; //#ccc #ccc #bbb;
$color__border-button-hover: $color__var_primary_alt; //#ccc #bbb #aaa;
$color__border-button-focus: $color__var_primary_alt; //#aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-text-hover: #fff;
