<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Leider nicht gefunden</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Diese Seite oder Inhalt konnte leider nicht gefunden werden.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Schau doch oben im Menü nach dem Inhalt oder benutze unsere Suche</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Suchen","buttonText":"Suchen"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->